.doctos-banner-text>h1{
font-size: 65px;
text-align: center;
font-weight: 800;
color: #FF631A;
}
.doctos-banner-text{
    position: relative !important;
}
.doctos-banner-text>p{
    font-size: 55px;
    text-align: center;
    color: #353434;
    font-weight: 600;
   
}
.doctos-banner-text>h2{
    font-size: 65px;
    text-align: center;
    color: #156ea1;
    font-weight: 800;
}
.form-control-search-page{
    margin: auto;
    border-radius: 8px !important;
    outline: none !important;
    box-shadow: none !important;
    color:#635A5A !important;
    width: 350px !important;
}
.doctors-name ul li:nth-child(n-5){
    list-style: none;
    color:#635A5A ;
    font-weight: 550;
    font-size: 16px;
    cursor: pointer ;
    padding:2px;
}
.doctors-name ul li:active,
.doctors-name ul li:focus,
.doctors-name ul li:hover {
    color: #156ea1 !important; /* For example */
}
.doctors-card {
  background: linear-gradient(to right, #46A4D9, #C1E4F9) !important;
  border: 0px !important;
  border-radius: 0px !important;
}
.doctors-cardiind{
  position: relative;
  top: -50px;
}
.card-image-conatiner{
  width: 200px !important;
  height: 200px !important;
  border-radius: 50% !important;
  border: 8px solid white !important;
  box-shadow: 0px 15px 44px rgba(154, 170, 207, 25%) !important;
  position: relative !important;
  left: -70px;
}
.button-container button:nth-child(1) {

  background-color: #FF851B !important;
  border: 0px !important;
  box-shadow: 0px !important;
  border-radius: 10px !important;
  font-weight: 700;
  font-size: 20px !important;
  cursor: pointer;
}
.button-container button:nth-child(2) {
  background-color: #29A71A !important;
  border: 0px !important;
  font-size: 20px !important;
  font-weight: 700;
  box-shadow: 0px !important;
  border-radius: 10px !important;
  cursor: pointer;
}
.button-container button:nth-child(1):hover{
  background-color: #ffff !important;
  border: 1px solid #FF851B  !important;
  color:  #FF851B ;
}
.button-container button:nth-child(2):hover{
  background-color: #ffff !important;
  border: 1px solid #29A71A  !important;
  color:  #29A71A ;
}
@media screen  and (max-width: 768px){
  .doctos-banner-text{
    position: absolute !important;
    top: -110px !important;
}
.doctos-banner-text>h1{
  font-size: 25px;
  text-align: center;
  font-weight: 800;
  color: #FF631A;
  }
  .doctos-banner-text{
      position: relative !important;
  }
  .doctos-banner-text>p{
      font-size: 15px;
      text-align: center;
      color: #353434;
      font-weight: 600;
     
  }
  .doctos-banner-text>h2{
      font-size: 25px;
      text-align: center;
      color: #156ea1;
      font-weight: 800;
  }
  .section-first{
    margin-top: -100px;
    
  }
  .button-container button:nth-child(1) {
    background-color: #FF851B !important;
    border: 0px !important;
    box-shadow: 0px !important;
    border-radius: 10px !important;
    font-weight: 300;
    font-size: 10px !important;
    cursor: pointer;
  }
  .button-container button:nth-child(2) {
    background-color: #29A71A !important;
    border: 0px !important;
    font-size: 10px !important;
    font-weight: 300;
    box-shadow: 0px !important;
    border-radius: 10px !important;
    cursor: pointer;
  }
  .card-image-conatiner{
    width: 100px !important;
    height: 100px !important;
    border-radius: 50% !important;
    border: 8px solid white !important;
    box-shadow: 0px 15px 44px rgba(154, 170, 207, 25%) !important;
    position: relative !important;
    left: 0px;
    top: -30px ;
  }
  
}



