

.dropdown-toggle::after {
  color: white !important;
}
.drop-down{
  text-decoration: none !important;
  color: #5E5E5E;
  font-weight: 500;
  font-size: 20px;
}

.nav-link{
  text-decoration: none !important;
  color: #f2f2f2;
  font-weight: 500;
  font-size: 19px;
}
.dropdown-menu.show {
  font-weight: 500;
  font-size: 19px;
}
  .banner{
    color: #585454;
    text-align: center;
    font-weight: bolder;
    font-size:65px;
  }
  .banner span.scan{
    color: #FF631A;
    font-size: 75px;
    font-weight: bold;
  }
  
  .banner span.reflects {
    color: #FF631A;
    font-size: 75px;
    font-weight: bold;
  }
  .banner  p.Priority{
    color: #FF631A;
    font-size: 75px;
    font-weight: bold;
  }
  .form-control-seacrhbar{
    border: 1px solid #58545486!important;
    box-shadow: none !important;
    border-radius: 10px !important;
}
  .radiology-data {
    height:150PX !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:150px;
    transition: 0.3s ease-in;
    border-radius: 50% !important;
 
}
.radiology-data:hover{
  transform: scale(0.7) !important;
}
.rd-img{
  width:60%;
  height: 60%;
}
.for-newtry{
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.127) !important;
  background-color: white;
  border-radius: 5px;
  margin-top: -100px;
}
.ndsectionwhysanarCare{
    box-shadow: 0px 15px 40px 15px rgb(154, 170, 207,25%);
    border-radius:8px;
    display: flex;
    padding:20px;
    flex-direction: column;
    align-items: center;
    transition: 0.3ms ease-in;
    background-color: white;
    width: 200px ;
    height: 170px;
    transition: 0.3s ease-in;
    text-transform: capitalize !important;
}
.ndsectionwhysanarCare:hover{
  transform: scale(1.1) !important;
}
.scan-card-main{
  height: 550px;
}
.scan-image{
  width: 100%;
  height: 300px;
  display: flex !important; 
  justify-content: center !important;
  align-items: center !important;
}

.buttonfirst{
background-color :#46A4D9 !important;
color: white !important;
font-weight: 550 !important;
display: flex!important;
align-items: center !important;
justify-content: center !important;
border: none!important;
border-radius: 6px!important;
border: none!important;
outline: none!important;
box-shadow: none!important;
padding: 10px;
}
.buttonfirst:hover{
  color: white !important;
  background-color: #4085AD !important;
}
.scansIndicators>a>.carousel-control-next-icon{
  border-radius: 50px!important;
  border: 2px solid white!important;
  background-color:#46A4D9!important;
  padding: 10px; 
  position: absolute;
  right: -45px !important;

}
.scansIndicators>a>.carousel-control-prev-icon{
  border-radius: 50px!important;
  border: 2px solid white!important;
  background-color:#46A4D9!important;
  padding: 10px; 
  position: absolute;
  left: -45px !important;

}
.fifthsec{
  box-shadow: 0px 15px 40px 15px rgb(154, 170, 207,25%);
    border-radius:10px;
    display: flex;
    padding:20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3ms ease-in;
    background-color: white;
     width: 300px ;
     height: 270px;
  
}
.swiper-button-prev,
.swiper-button-next {
  background-color: #fffb !important; /* Background color */
  color: #000 !important; /* Text color */
  border: 1px solid #000 !important; /* Border */
  border-radius: 50%; /* Make it round */
 /* Width of the navigation buttons *//* Height of the navigation buttons */
 padding: 23px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  cursor: pointer !important;
  transition: background-color 0.3s, color 0.3s !important; /* Transition effect */
  position: absolute !important;


}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #4a9acf !important; /* Hover background color */
  color: #fff !important; /* Hover text color */
}
.doctor-card {
  position: relative;
 
}
.doctor-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
  
}
.card-doctor-main{
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width:470px;
  height: 350px;
  transition: 0.3s ease-in;
}
.card-doctor-main:hover{
  transform: scale(1.1);
  

}
.card-doctor-main .card-title {
  text-align: center;
  font-weight: bold;
  margin-top:130px;
}

.card-doctor-main  .card-text {
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
 
}
.health-div-iind{
  box-shadow: 0px 15px 40px 10px rgb(154, 170, 207,25%);
  padding: 0px;
  height: 620px !important;
}
.health-div-iind>img{
  width: 100%;
}
.health-div{
  box-shadow: 0px 15px 40px 10px rgb(154, 170, 207,25%);
  padding: 0px;
  height: 620px !important;
}
.health-div>img{
  max-width: 100%;
  min-width: 100%;
  height:auto ;

}

.card-header{
  cursor: pointer;
  padding: 10px 20px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 4px 4px 0px rgb(0, 0, 0,25%) !important;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}
.card-header:hover {
  background-color: #e0e0e0;
}

.section11-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #46a4d9;
  width: 80%;
}
.testimonial-card {
  background-color: #ffffff !important;
  border-radius: 0px !important;
  width: auto !important;
  height: 480px !important;
  border: 0px !important;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.219);
}

/* Testimonial Image */
.testimonial-image {
  margin-bottom: 20px;
  width: 100% !important;
 
}
/* Swiper Container */
.swiper-container {
  width: 900px !important;
  max-width: 900px;
  position: relative;
}
.step-text{
  font-size: 19px;
  background-color: #f2f2f2c2;
  padding:18px;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
/* TestBooking.css */
.heading {
  text-align: center;
  margin-bottom: 2rem;
}
.step-column{
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: -270px;
  margin-right: 70px;
}
.Card-Healthscan{
border-radius:10px;
transition: 0.3s ease-in;
background-color: white;
box-shadow: 0 4px 4px 0px rgb(0, 0, 0,25%);
padding: 10px;
height: 450px;
}
.Card-Healthscan>img{
  width: 100%;
}
.AllbuttonForMove{
  display: flex;
  justify-content:center;
  align-items: center;
  gap:20px;
  
}
.AllbuttonForMove Button {
  background-color:#3B7FBF!important;
  border: none!important;
  box-shadow: none!important;
  color: white! important;
  border-radius: 0px !important;
  margin-top: 20px;
}

/* Home page banner text  */
@media (max-width: 768px) {
  .card-doctor-main{
    width: 250px !important;
    height: 50px !important;
  }
  .bannertext{
    position: absolute !important;
    top:118px !important;
  }
  .section11-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #46a4d9;
    width: 100%;
    margin-left: 0px;
  }
  .testimonial-card {
    background-color: #ffffff !important;
    border-radius: 0px !important;
    width: auto !important;
    height: auto !important;
    border: 0px !important;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.219);
  }
  /* Testimonial Image */
  .testimonial-image {
    margin-bottom: 20px;
    width: 100% !important;
   
  }
  /* Swiper Container */
  .swiper-container {
    width: 320px !important;
    position: relative;
  }
  .health-div{
    height: 350px !important;
    padding: 5px !important;
  }
  .Card-Healthscan{
    height: 260px !important;
    border-radius: 0px !important;
    padding: 0px !important;
  }
 
  .scansIndicators>a>.carousel-control-next-icon{
   display: none !important;
  
  }
  .scansIndicators>a>.carousel-control-prev-icon{
    display: none !important;
  
  }
  .scan-button-sm{
    display: none!important;
  }
  .banner  span.scan,
  .banner  span.reflects,
  .banner span.Priority,
  .banner span.health
 {
    font-size: 17px;
  }
  .banner span.health {
    font-size: 15px;
  }
  .banner  {
    font-size:15px;
    text-align: left;
    padding-left: 20px;
  }
   .banner  p.Priority{
    font-size: 15px;

  }
  .row-bac{
    height:auto!important;
    text-align: start !important;
  }
  .for-newtry{
    margin-top: -10px !important;
    height: 60px !important;
  }
  .for-newtry>div>img{
    width: 20px !important;
    height: 20px !important;
  }
  .for-mob{
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    text-align: center;
    padding-right: 10px !important;
    padding-left: 0px !important;
  }
  .for-mob p{
    display: none;
  }
  .radiology-data{
    width: 80px !important;
    height: 80px !important;
    padding: 0px !important;
  }
  .ndsectionwhysanarCare{
    width: 100px ;
    height: 85px;
    padding:5px 10px;
  }

.ndsectionwhysanarCare:hover{
  transform: scale(0.8) !important;
}
  .ndsectionwhysanarCare>img{
    width: 30px ; 
    height: 30px ; 
  }
  .scan-card-main{
    width: 150px  !important;
    height: 230px !important ;
  }
  .icon{
    width: 50px !important;
  }
 
  .scan-details .card-title {
    font-size: 16px;
    font-weight: bold;
  
  }
  .scan-details .card-text {
    font-size: 13px;
    margin-bottom: 3px;
    text-align: center;
    margin-bottom: 0px;
  }
  .scan-details .price {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  .fifthsec{
    width: 200px ;
    height: 200px;

  }
  .fifthsec>img{
    width: 40px ; 
    height: 40px ; 
  }
  .health-div-iind{
    height: 460px !important;
  }
}

 


/* Tablets (768px - 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .banner h1 span.scan,
  .banner h1 span.reflects,
  .banner h1 span.Priority {
    font-size: 50px;
  }
  .banner h1 span.health {
    font-size: 45px;
  }
}

/* iPad (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .banner h1 span.scan,
  .banner h1 span.reflects,
  .banner h1 span.Priority ,
  .banner h1 span.health{
    font-size: 60px;
  }

  .banner h1 span.health {
    font-size: 55px;
  }
}

/* Larger screens (greater than 1024px) */
@media (min-width: 1025px) {
  .banner h1 span.scan,
  .banner h1 span.reflects,
  .banner h1 span.Priority {
    font-size: 75px;
  }

  .banner h1 span.health {
    font-size: 65px;
  }
}
@media (min-width: 1400px) {
  .header{
    height:50px !important;
  }
}
@media (min-width: 1400px) {
  .row-bac{
    height:480px !important;

  }
}

/* For screens with width <= 1200px and height <= 560px */
@media screen and (max-width: 1200px) and (max-height: 560px) {
  .step-column {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -200px; /* Adjust this value as needed */
    margin-right:52px; /* Adjust this value as needed */
  }
  .step-column > img {
    width: 55px; /* Adjust this value as needed */
    height: 55px; /* Adjust this value as needed */
  }
}
/* For screens with width between 1264px and 1496px and a fixed height of 560px */
@media screen and (min-width: 1264px) and (max-width: 1496px) {
  .step-column {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: -30px !important;
    right: 5px;
    /* Adjust this value as needed */
 /* Adjust this value as needed */
  }
  .step-column > img {
    width: auto; /* Adjust this value as needed */
    height: 40px; /* Adjust this value as needed */
  }
}
@media screen and (min-width: 1263px) and (max-height: 560px) {
  .step-column {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -200px; /* Adjust this value as needed */
    margin-right:52px; /* Adjust this value as needed */
  }
  .step-column > img {
    width: px; /* Adjust this value as needed */
    height: 55px; /* Adjust this value as needed */
  }
}
@media screen  and  (max-width:1263px){
  .step-column {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -210px; /* Adjust this value as needed */
    margin-right:52px; /* Adjust this value as needed */
  }
  .step-column > img {
    width: px; /* Adjust this value as needed */
    height: 55px; /* Adjust this value as needed */
  }
  .contact  iframe{
    width: 330px;
    height: 150px;
  }
}








