.main-form-page {
    width: 540px !important;
    height: 634px !important;
    background-color: white;
    box-shadow: 0 4px 4px 0px rgb(0, 0, 0, 25%) !important;
    display: flex !important;
    flex-direction: column !important;
    position: relative !important;
    left: 890px !important; /* Adjust this value to shift it further right */
    top: 20%; /* Adjust as needed */
    transform: translateY(-80%); /* Center vertically */
}
.img-form {
    position: absolute !important;
    left: 30px !important; /* Adjust from left to right */
}

.form-control-main-page {
    width: 80% !important;
    margin: auto;
    border: none !important;
    border-radius: 0px !important;
    border-bottom: 1px solid #FF851B !important;
    outline: none !important;
    box-shadow: none !important;
    color:#635A5A !important
}
.formbutton {
    background-color: #FF631A !important;
    color: white !important;
    font-weight: 500 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border: 0px !important;
    border-radius: 6px !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    font-size: 20.5px !important;
    width: 162px !important;
}

.formbutton:hover {
    color: #FF851B !important;
    border: 1px solid #FF851B !important;
    background-color: transparent !important;
}
