*{
  font-family: montserrat,sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hed1{
  font-size: 40px;
  color: #585454;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;

}
.hed1:hover {
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.342); /* Text shadow effect */
}
.hed1:hover:before {
 /* Adjusted positioning */
  border-right-color: #585454; /* Adjusted border color */
  opacity: 1;
}
.hed3{
  font-size: 22px;
  font-weight: 600;
  color: #000000;
}

.hed4{
  font-size: 18px;
  font-weight: 600;
  color: #585454;
}
.para{
  font-size:15px ;
  font-weight:500 ;
  color: rgba(94, 94, 94, 0.795) ;
}
.hed2{
  font-size: 38px;
  color: #585454;
  font-weight: 700;
}

@media screen and  (max-width:768px) {
  .hed1{
    font-size:22px;
    color: #585454;
    font-weight: 600;
  }
  .hed4{
    font-size:14px;
    font-weight: 550;
  }
  .para{
    font-size: 10px ;
    font-weight:450 ;
  }
  .hed3{
    font-size: 12px;
    font-weight: 550;

  }
  
}

